body {
    background-color: #908e8e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    object-fit: cover;
}

.common {
    /* background-color: #cccccc; */
    /* border: 2px solid white; */
    position: absolute;
}
.headermenu {
    top: 5px;
    right: 5px;
    left: 5px;
    height: 120px;
    z-index: 2;
    border-bottom: solid 1px #cccccc;
    text-align: center;
}
.leftmenu {
    top: 135px;
    left: 5px;
    width: 175px;
    bottom: 39px;
    height: 2200px;
    z-index: 1;
    border-right: solid 1px #cccccc;

}

.mainbody {
    top: 135px;
    left: 190px;
    right: 190px;
    bottom: 39px;
    
    padding-right: 5px;
    text-align: center;
    
}
.rightmenu{
    top: 135px;
    right: 5px;
    width: 175px;
    bottom: 39px;
    height: 2200px;
    border-left: solid 1px #cccccc;
    padding-left: 5px;
}
.footer {
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 25px;
    position: fixed;
    color: #999999;
    text-align: center;
    padding-top: 15px;
}
.header{
    top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
.subheader{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px
    
}
.nav{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(190, 190, 190);
    transition: background-color 0.3s;
}

.nav:hover {
    background-color: rgb(220, 220, 220);
}
.nav1{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(190, 190, 190);
    transition: background-color 0.3s;
}

.nav1:hover {
    background-color: rgb(220, 220, 220);
}
.center{
    text-align: center;
}
.underline {
    text-decoration: underline;
}